# --- ENV secrets (mantén solo los ejemplos) ---
.env
.env.*
!.env.example

# Backend
backend/.env
backend/.env.*
!backend/.env.example

# Frontend
frontend/.env
frontend/.env.*
!frontend/.env.example
